

@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        padding: 0;
        height: 90vh; /*add this to fill the screen*/
        background-image: url("https://res.cloudinary.com/swiggy/image/upload/f_auto,q_auto,fl_lossy/zmnojnpxaviygadd9ajr")
    }
</style>
<div class="jumbotron" style="background-color: transparent ; color:wheat">
    <h1>
        Welcome to Pizza World
    </h1>
</div>